<template>
    <div>
        <form action="">
            <h2>用户修改信息</h2>
            姓名：<input v-model="user.name" type="text"><br>
            性别：<input v-model="user.gender" type="text"><br>
            年龄：<input v-model="user.age" type="text"><br>
            <input type="button" @click="editStudentInfo" value = "确认">
        </form>
    </div>
</template>
<script>
    export default {
        name:"studentEdit",
        data(){
            return{
                user:{
                    id:""
                }
            }
        },
        methods:{
            findOne(){
                this.$http.get("http://localhost:8989/vue/student/findOne?id=" + this.user.id).then((res) => {
                    this.user = res.data;
                });
            },
            editStudentInfo(){
                this.$http.post("http://localhost:8989/vue/student/update",this.user).then((res) => {
                    if(res.data.success){
                        this.$router.push("/student");
                    }
                });
            }
        },
        created(){
            this.user.id = this.$route.query.id;
            this.findOne();
        }
    }
</script>
