<!--  -->
<template>
    <div>
        <h1>学生列表</h1>
        <table border = "1">
        	<caption>学生列表</caption>
            <th id="header">
                <td>编号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>操作</td>
            </th>
            <tr v-for="user in users">
                <td> {{user.id}}     </td>
                <td> {{user.name}}   </td>
                <td> {{user.gender}} </td>
                <td> {{user.age}}    </td>
                <td>
                    <a href = "javascript:;" @click="delRow(user.id)">删除</a>
                    <a :href = "'#/student/edit?id=' + user.id">修改</a>
                </td>
            </tr>
            <a href="#/student/add">添加</a>
        </table>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name:"student",
        data(){
            return{
                users:[]
            }
        },
        methods:{
            // 查询所有
            findAll(){
                this.$http.get("http://localhost:8989/vue/student/findAll").then((res) => {
                    this.users = res.data.results;
                });
            },
            // 删除
            delRow(id){
                this.$http.get("http://localhost:8989/vue/student/delete?id="+id).then((res) => {
                    if(res.data.success){
                        confirm(res.data.msg+"点击确定删除");
                        // 更新页面
                        this.findAll(); 
                    }
                })
            }
        },
        components:{},
        created(){
            this.$http.get("url").then((res) => {
                this.users = res.data.results;
            });
        },
        watch:{ 
            //监听
            $route:{
                handler:function(val, oldVal){
                    console.log("变化后路由" + val);
                    if (val.path == "/student"){
                        this.findAll();
                    }
                },
                deep:true
            }
        }
    }
</script>
<style>
</style>