<template>
    <div>
        <h2>用户添加信息</h2>
        <form action="">
            姓名：<input v-model="user.name" type="text"><br>
            性别：<input v-model="user.gender" type="text"><br>
            年龄：<input v-model="user.age" type="text"><br>
            <input type="button" @click="saveStudentInfo" value = "添加">
        </form>
    </div>
</template>
<script>
    export default {
        name: "studentAdd",
        data(){
            return{
                user:{}
            }
        },
        methods:{
            saveUserInfo(){
                // 发送请求
                this.$http.post("http://localhost:8989/vue/student/add",this.user).then(res => {
                    console.log(res);
                    if (res.data.success){
                        // 添加成功 路由不再展示 切换路由
                        this.$router.push("/student");
                    }
                });
            }
        }
    }
</script>
<style>
</style>